/**
 * Annotatable image upload widget.
 */

div.annotatable-image,
div.annotatable-image-view {
  cursor: pointer;
  position: relative;
  width: 100%;
}

span.note.black {
  background-position: -150px 0;
}

span.note {
  background: url("../image/notes-bg.png") no-repeat scroll 0 0 transparent;
  color: #FFFFFF;
  display: block;
  font-size: 12px;
  font-weight: bold;
  height: 25px;
  left: 0;
  letter-spacing: -1px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  top: -2px;
  width: 25px;
  z-index: 10;
}

.annotatable-image .form-type-textarea {
  display: none;
}
